.overly-1:after {
  position: absolute;
  content: "";
  width: 900px;
  height: 900px;
  background: #6A67FF;
  opacity: 0.6;
  filter: blur(424px);
  left: -480px;
  top: -320px;

}

.overly-2:after {
  position: absolute;
  content: "";
  width: 900px;
  height: 900px;
  background: #6A67FF;
  opacity: 0.6;
  filter: blur(424px);
  right: -510px;
  top: 530px;

}

.overly-3:after {
  position: absolute;
  content: "";
  width: 900px;
  height: 900px;
  background: #6A67FF;
  opacity: 0.6;
  filter: blur(424px);
  left: -510px;
  top: 1080px;

}

.overly-4:after {
  position: absolute;
  content: "";
  width: 900px;
  height: 900px;
  background: #6A67FF;
  opacity: 0.6;
  filter: blur(424px);
  right: -510px;
  top: 1700px;

}

.overly-5:after {
  position: absolute;
  content: "";
  width: 900px;
  height: 900px;
  background: #6A67FF;
  opacity: 0.6;
  filter: blur(424px);
  left: -510px;
  top: 2654px;

}

.overly-6:after {
  position: absolute;
  content: "";
  width: 900px;
  height: 900px;
  background: #6A67FF;
  opacity: 0.6;
  filter: blur(424px);
  right: -510px;
  top: 3370px;

}

.overly-7:after {
  position: absolute;
  content: "";
  width: 900px;
  height: 900px;
  background: #6A67FF;
  opacity: 0.6;
  filter: blur(424px);
  left: -510px;
  top: 4600px;

}

.overly-8:after {
  position: absolute;
  content: "";
  width: 900px;
  height: 900px;
  background: #6A67FF;
  opacity: 0.6;
  filter: blur(424px);
  right: -510px;
  top: 5680px;

}

.overly-9:after {
  position: absolute;
  content: "";
  width: 900px;
  height: 900px;
  background: #6A67FF;
  opacity: 0.6;
  filter: blur(424px);
  left: -439px;
  top: 6640px;
}

.overly-10:after {
  position: absolute;
  content: "";
  width: 900px;
  height: 900px;
  background: #6A67FF;
  opacity: 0.6;
  filter: blur(424px);
  right: -264px;
  top: 7392px;
}