.service-content {
  z-index: 9;

  h2 {
    background: linear-gradient(272.85deg, #FFFFFF -6.83%, rgba(255, 255, 255, 0) 127.68%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-left: 55px;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;

    span {
      -webkit-text-fill-color: #61C1CF;
      ;
    }
  }

  .number {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: inline-block;
    background-color: rgba(94, 214, 232, 0.1);
    color: #61C1CF;
    font-weight: 600;
    font-size: 18px;
    line-height: 38px;
    text-align: center;
    position: absolute;
  }

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    opacity: 0.6;
  }
}